*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* Loader Container */

#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #00008B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
}


/* Normal Spinning Circle */

.spinner {
    width: 60px;
    height: 60px;
    border: 6px solid white;
    border-radius: 50%;
    border-top-color: transparent;
    /* Creates the spinning effect */
    animation: spin 1s linear infinite;
}


/* Loading Dots */

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.dots span {
    width: 10px;
    height: 10px;
    margin: 5px;
    background: white;
    border-radius: 50%;
    animation: blink 1.5s infinite;
}

.dots span:nth-child(2) {
    animation-delay: 0.2s;
}

.dots span:nth-child(3) {
    animation-delay: 0.4s;
}


/* Animations */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes blink {
    0%,
    100% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
}


/* Hide content initially */

#content {
    display: none;
    padding: 50px;
}

/* body */

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
.animate-fade-in {
    animation: fadeIn 0.2s ease-out;
}

.img{
    max-width: 100%;
}

.font-2 {
    color: #ffffffb3;
    font-size: 20px;
}

.uppercase {
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 4px solid orange;
    color: #fff;
    font-weight: bold;
}

.font-3 {
    font-size: 22px;
    background-color: #fff;
    color: #00008B;
    border-radius: 30px;
    padding: 10px 30px;
    text-decoration: none;
}

.animate {
    animation: slide 5s ease-in-out 1s infinite;
}

@keyframes slide {
    0% {
        transform: translateY(.3rem);
    }
    50% {
        transform: translateY(2rem);
    }
    100% {
        transform: translateY(.3rem);
    }
}

.icon-bg {
    width: 50px;
    height: 30px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    background-color: #f4f3fe;
    border-radius: 50px;
    color: #00008b;
}


.transform:hover {
    transform: translateY(-10px);
    transition: all 0.5s;
    cursor: pointer;
}

.icon-box{
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
}

.steps-number{
    width: 50px;
    height: 50px;
    font-size: 25px;
    left: 15px;
    top: -37px;
    position: relative;
    background-color: #00008B;
    color: #fff;
    border-radius: 50%;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radius-border{
    border-radius: 20px;
}

.scrollTop {
    position: fixed;
    right: 15px;
    bottom: 15px;
    background-color: #00008B;
    border-radius: 50px;
    width: 44px;
    height: 44px;
}

.font-10 {
    font-size: 18px;
    background-color: #00008B;
    color: #fff;
    border-radius: 30px;
    padding: 7px 20px;
    border: 1px solid #00008B;
}

.bg-icon {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    background-color: #f4f3fe;
    border-radius: 50px;
    color: #00008b;
}

.border-line {
    border-bottom: 5px solid #fff;
    width: 100px;
    border-radius: 5px;
}






@media only screen and (max-width: 768px){
    .img{
        max-width: 100%;
    }
    .font-2 {
        text-align: center;
        font-size: 18px;
    }
}